name: Test
'on':
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    name: Test
    uses: escalate/github-actions-workflows/.github/workflows/test.yml@master

  bootstrap:
    name: Bootstrap
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Create test dependencies
        run: |
          dpkg -l
          mkdir $HOME/.ssh/
          mkdir --parents $HOME/secrets/.network/
          touch $HOME/secrets/.network/dummy.yaml
          mkdir --parents $HOME/secrets/.truststore/
          touch $HOME/secrets/.truststore/cert.crt
          mkdir --parents $HOME/secrets/.remmina/
          mkdir --parents $HOME/secrets/.hamster/
          mkdir --parents $HOME/.local/share/

      - name: Run Bootstrap script
        run: ./scripts/bootstrap.sh
